@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

body {
    background-color: #FCF8E8;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* NAVBAR */

header {
    padding: 1.5rem 2rem 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: #94B49F;
}
.search {
    background-color: transparent;
    border: 2px solid #FCF8E8;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}
.search:focus {
    outline: 0;
    border: none;
    background-color: #DF7861;
}
.search::placeholder {
    color: #FCF8E8;
}
.logo-div {
    width: 90px;
    height: 50px;
}
.logo {
    width: 100%;
    height: 100%;
}

/* MOVIES SECTION */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4% 7%;
}
.movie {
    width: 300px;
    height: 400px;
    margin: 2.5rem 1.5rem;
    border-radius: 20px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #DF7861;
    position: relative;
    overflow: hidden;
}
.movie img {
    width: 100%;
    height: 80%;
}
.movie h3 {
    margin-top: 0;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info span {
    background-color: #FCF8E8;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.movie:hover .overview {
    transform: translateY(0);
}

/* LOADING & ERROR */

.loading {
    margin: 200px auto;
    padding: 2rem;
    color: #000;
    font-size: 40px;
}
.error {
    margin: 200px auto;
    padding: 2rem;
    color: #000;
    font-size: 40px;
}